@charset "UTF-8";

body {
    text-align: center;
    color: rgb(13, 44, 72);
    background-color: rgb(246, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
main {
    color: black;
    background-color: lightgrey;
    height: 500px;
    width: 400px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.394);
}
div#texto {
    text-align: left;
    padding: 20px 20px;
}
div#texto1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
img#imagem {
    background-position: center;
    background-size: auto ;
    height: 100%;
    width: 100%;
    margin: auto;
}
footer{
    text-align: center;
    font-size: 0.8em;
}